<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.badas.login">

    <application>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BadasTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BadasTheme.NoActionBar" />
    </application>

</manifest>